[submodule "competitive_programming"]
	path = competitive_programming
	url = https://github.com/fishy15/competitive_programming.git
[submodule "ICPC"]
	path = ICPC
	url = https://github.com/hsnavarro/icpc-notebook.git
[submodule "icpc-team-notebook-el-vasito"]
	path = icpc-team-notebook-el-vasito
	url = https://github.com/mhunicken/icpc-team-notebook-el-vasito.git
[submodule "ACM-ICPC-Algorithms"]
	path = ACM-ICPC-Algorithms
	url = https://github.com/matthewsamuel95/ACM-ICPC-Algorithms.git
[submodule "stanfordacm"]
	path = stanfordacm
	url = https://github.com/jaehyunp/stanfordacm.git
[submodule "KACTL"]
	path = KACTL
	url = https://github.com/kth-competitive-programming/kactl.git
[submodule "ACM-ICPC-training-records"]
	path = ACM-ICPC-training-records
	url = https://github.com/tshu-w/ICPC.git
